<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>User Registration</title>
  </head>
  <body>
    <div class="main_email-container">
      <div class="email-container">
        <div class="email-content">
          <div class="email-header">
            <div class="head">
              <div class="main_logo"></div>
              <div class="title">Marriage Vendors</div>
            </div>
            <div class="new">
              <div class="new1">
                <div class="n1"></div>
                <div class="card">
                  <div class="main_head">
                    <div class="header1">Welcome to User Registration!</div>
                    <div class="header2">
                      <p>
                        We received a request to register your User account. If
                        you made this request, please click the button below to
                        complete your registration.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button>Subscribe</button>
            <div class="email-footer">
              <p>
                You're receiving this email because you signed up for an account
                with us.
              </p>
              <p>© 2025 Marriage Vendors. All rights reserved.</p>
            </div>
            <div class="icons">
              <a href="#" class="icons_1"></a>
              <a href="#" class="icons_2"></a>
              <a href="#" class="icons_3"></a>
              <a href="#" class="icons_4"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
