<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index_3.css"/>
  <title>Vendor Reset Password</title>
</head>
<body>
  <div class="main_email-container">
    <div class="email-container">
      <div class="email-content">
        <div class="email-header">
          <div class="head">
            <div class="main_logo"></div>
            <div class="title">Marriage Vendors</div>
          </div>
          <div class="new">
            <div class="new1">
              <div class="n1"></div>
              <div class="card">
                <div class="main_head">
                <div class="header1"> Password Reset Request !</div>
                <div class="header2">
                  <p>We received a request to reset your password for your Vendor account. If you made this request, please click the button below to reset your password.</p>
                </div>
                </div>
              </div>
            </div>
          </div>
          <button>
            Reset Password
          </button>
          <div class="email-footer">
            <p>If you have any questions or need assistance, feel free to <span class="contact">contact our support team.</span></p>
            <p>&copy; 2025 Marriage Vendors. All rights reserved.</p>
          </div>
          <div class="icons">
            <a href="#" class="icons_1"></a>
            <a href="#" class="icons_2"></a>
            <a href="#" class="icons_3"></a>
            <a href="#" class="icons_4"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>